[submodule "vendor/assetic"]
	path = vendor/assetic
	url = http://github.com/kriswallsmith/assetic.git
[submodule "vendor/symfony"]
	path = vendor/symfony
	url = http://github.com/symfony/symfony.git
[submodule "vendor/doctrine"]
	path = vendor/doctrine
	url = http://github.com/doctrine/doctrine2.git
[submodule "vendor/swiftmailer"]
	path = vendor/swiftmailer
	url = http://github.com/swiftmailer/swiftmailer.git
[submodule "vendor/twig"]
	path = vendor/twig
	url = http://github.com/fabpot/Twig.git
[submodule "vendor/twig-extensions"]
	path = vendor/twig-extensions
	url = http://github.com/fabpot/Twig-extensions.git
[submodule "vendor/monolog"]
	path = vendor/monolog
	url = http://github.com/Seldaek/monolog.git
[submodule "vendor/bundles/Symfony/Bundle/WebConfiguratorBundle"]
	path = vendor/bundles/Symfony/Bundle/WebConfiguratorBundle
	url = http://github.com/symfony/WebConfiguratorBundle.git
[submodule "vendor/bundles/JMS/SecurityExtraBundle"]
	path = vendor/bundles/JMS/SecurityExtraBundle
	url = http://github.com/schmittjoh/SecurityExtraBundle.git
[submodule "vendor/bundles/Sensio/Bundle/FrameworkExtraBundle"]
	path = vendor/bundles/Sensio/Bundle/FrameworkExtraBundle
	url = http://github.com/sensio/SensioFrameworkExtraBundle.git
