.idea
vendor/
composer.phar
config.php
.DS_Store
.settings/
.project
.buildpath
.htaccess
PHPCI/config.yml
cache
/loggerconfig.php
/pluginconfig.php
PHPCI/Model/Migration.php
PHPCI/Model/Base/MigrationBase.php
PHPCI/Store/MigrationStore.php
PHPCI/Store/Base/MigrationStoreBase.php
local_vars.php
Tests/PHPCI/config.yml
