/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
.idea
vendor/
composer.phar
config.php
.DS_Store
.settings/
.project
.buildpath
.htaccess
src/config.yml
cache
/loggerconfig.php
/pluginconfig.php
src/Model/Migration.php
src/Model/Base/MigrationBase.php
src/Store/MigrationStore.php
src/Store/Base/MigrationStoreBase.php
local_vars.php
test/unit/config.yml
