<?php
return array(
    'RunCommand' => function() {
        return array(
            new \Monolog\Handler\StreamHandler('path/to/logs/errors', \Monolog\Logger::ERROR),
            new \Monolog\Handler\RotatingFileHandler('path/to/logs/everything',3, \Monolog\Logger::INFO),
        );
    }
);