<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="./test/bootstrap.php"
>
    <testsuites>
        <testsuite name="Kiboko CI Command Test Suite">
            <directory suffix="Test.php">./test/unit/Command</directory>
        </testsuite>
        <testsuite name="Kiboko CI Helper Test Suite">
            <directory suffix="Test.php">./test/unit/Helper</directory>
        </testsuite>
        <testsuite name="Kiboko CI Logging Test Suite">
            <directory suffix="Test.php">./test/unit/Logging</directory>
        </testsuite>
        <testsuite name="Kiboko CI Plugin Test Suite">
            <directory suffix="Test.php">./test/unit/Plugin</directory>
        </testsuite>
        <testsuite name="Kiboko CI Model Test Suite">
            <directory suffix="Test.php">./test/unit/Model</directory>
        </testsuite>
        <testsuite name="Kiboko CI Service Test Suite">
            <directory suffix="Test.php">./test/unit/Service</directory>
        </testsuite>
    </testsuites>
</phpunit>
