body {
    background: #f9f9f9;
    font-family: Arial, Sans-Serif;
    font-style: normal;
    font-weight: 300;
    padding-top: 70px;
}

.navbar {
    background-color: #eee;
}

    .navbar-brand {
        padding: 10px 15px;
    }

#latest-builds td,
#project-overview td,
#users td {
    vertical-align: middle;
}

.table th {
    background-color: #efefef;
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#fdfdfd), to(#eaeaea));
    background-image: -webkit-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -moz-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -ms-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -o-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    border-bottom: 1px solid #CDCDCD;
}


h1 {
    border-bottom: 1px solid #ddd;
    font-size: 2em;
    padding: 10px 0;
}

    h1 i {
        font-size: 23px;
        margin-right: 10px;
    }




#loading {
    background: #246;
    bottom: 25px;
    color: #fff;
    display: none;
    font-size: 1.5em;
    padding: 20px 40px;
    position: absolute;
    right: 25px;
    width: 200px;
}

.word-wrap {
    word-wrap: break-word;
}

ul.pagination {

}

    ul.pagination > li > span {
        color: #333;
    }

    ul.pagination > li > span:hover,
    ul.pagination > li > span:focus {
        color:            #333;
        background-color: #fff;
    }
