body
{
	background: #246;
	font-family: Roboto, Arial, Sans-Serif;
	font-style: normal;
	font-weight: 300;
	padding-top: 70px;
}

#content
{
	background: #fff;
	border: 10px solid #369;
	padding: 10px;
}

td .label {
	margin-right: 5px;
	line-height: 2;
}
#project-overview td .label {
	margin-right: 0;
}

.success-message {
	background-color: #4F8A10;
}

.error-message {
	background-color: #FF4747;
}

#latest-builds td,
#project-overview td,
#users td {
    vertical-align: middle;
}

.widget-title, .modal-header, .table th, div.dataTables_wrapper .ui-widget-header, .ui-dialog .ui-dialog-titlebar {
	background-color: #efefef;
	background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#fdfdfd), to(#eaeaea));
	background-image: -webkit-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -moz-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -ms-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -o-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
    border-bottom: 1px solid #CDCDCD;
}

#title
{
	background: #f8f8f8;
	border-bottom: 1px solid #ccc;
	margin: -10px -10px 15px -10px;
	padding: 10px;
}

	#title h1
	{
		font-size: 2em;
		margin: 0;
		padding: 0;
	}

.icon-build-ok
{
	background: url('../img/icon-build-ok.png') no-repeat top left;
}

.icon-build-failed
{
	background: url('../img/icon-build-failed.png') no-repeat top left;
}

.icon-build-pending
{
	background: url('../img/icon-build-pending.png') no-repeat top left;
}

.icon-build-running
{
	background: url('../img/icon-build-running.png') no-repeat top left;
}

h3
{
	border-bottom: 1px solid #f0f0f0;
	margin-top: 0;
	padding-top: 0;
}

.navbar-brand {
    padding: 10px 15px;
}