{% extends "AcmeDemoBundle::layout.html.twig" %}

{% block title "Symfony - Contact form" %}

{% block content %}
    <form action="" method="POST">
        {{ form_field(form) }}
        <input type="submit" value="Send" />
    </form>
{% endblock %}
